Repository al8n/memberlist: changes, and which Codecov flags are due for each by the changed paths.
All: memberlist, transport_net, transport_quic

Add `encryption_enabled` API and exports
  Cargo.toml
  core/src/api.rs
  memberlist/src/lib.rs
Due: memberlist

Export types from `nodecraft`
  core/src/network.rs
  core/src/network/packet/listener.rs
  core/src/network/stream.rs
  types/src/lib.rs
  types/src/push_pull_state.rs
Due: none

Export types
  types/src/ack.rs
  types/src/alive.rs
  types/src/bad_state.rs
  types/src/lib.rs
  types/src/ping.rs
  types/src/push_pull_state.rs
  types/src/server.rs
Due: none

cleanup
  core/src/options.rs
  types/src/alive.rs
  types/src/push_pull_state.rs
  types/src/secret.rs
  types/src/server.rs
  types/src/version.rs
Due: none

Fix debug_assert_eq
  types/src/secret.rs
Due: none

Cleanup exports
  core/src/network.rs
  core/src/network/packet/listener.rs
  core/src/network/stream.rs
  core/src/options.rs
  types/src/ack.rs
  types/src/alive.rs
  types/src/bad_state.rs
  types/src/lib.rs
  types/src/ping.rs
  types/src/push_pull_state.rs
  types/src/secret.rs
  types/src/server.rs
  types/src/version.rs
Due: none

Fix `*Version` parsing
  types/src/version.rs
Due: none

Add `UnimplementedTransport` for testing purpose
  .codecov.yml
  core/src/transport/tests.rs
  core/src/transport/tests/unimplemented.rs
Due: none

Return resolved node for `join` method.
  core/src/api.rs
Due: none

Public version `0.2.0-alpha.1`
  Cargo.toml
Due: none

Manually implement `Clone` for `QuicTransportOptions`
  Cargo.toml
  transports/net/src/options.rs
  transports/quic/Cargo.toml
  transports/quic/src/options.rs
Due: transport_net, transport_quic

Cleanup re-exports
  core/src/base.rs
  transports/net/src/lib.rs
  transports/quic/src/lib.rs
  transports/quic/src/processor.rs
Due: transport_net, transport_quic

Cleanup chores
  Cargo.toml
  core/src/api.rs
  core/src/network.rs
  core/src/network/packet/handler.rs
  core/src/network/packet/listener.rs
  core/src/network/stream.rs
  core/src/state.rs
  transports/net/src/packet_processor.rs
  transports/net/src/promised_processor.rs
  transports/net/src/stream_layer.rs
  transports/net/src/stream_layer/native_tls.rs
  transports/net/src/stream_layer/tcp.rs
  transports/net/src/stream_layer/tls.rs
  transports/quic/Cargo.toml
  transports/quic/src/lib.rs
  transports/quic/src/processor.rs
  transports/quic/src/stream_layer/quinn.rs
Due: transport_net, transport_quic

fix some bugs
  core/src/base.rs
  core/src/base/tests.rs
  core/src/network/packet/handler.rs
  core/src/network/packet/listener.rs
  core/src/network/stream.rs
  core/src/state.rs
  core/src/state/tests.rs
Due: none

Optimize code
  Cargo.toml
  core/Cargo.toml
  core/src/base.rs
  core/src/state.rs
  transports/net/Cargo.toml
  transports/net/src/lib.rs
  transports/quic/Cargo.toml
  transports/quic/src/error.rs
  transports/quic/src/lib.rs
  transports/quic/src/processor.rs
Due: transport_net, transport_quic

cleanup
  core/src/api.rs
  core/src/base/tests.rs
  core/src/network/packet/handler.rs
  core/src/network/packet/listener.rs
  core/src/network/stream.rs
  core/src/state.rs
  transports/quic/src/processor.rs
Due: transport_quic

Add some more tests
  core/src/base/tests.rs
  memberlist/tests/main/quic.rs
  memberlist/tests/main/quic/shutdown_cleanup.rs
  transports/quic/src/lib.rs
  transports/quic/src/options.rs
  transports/quic/src/processor.rs
  transports/quic/src/tests.rs
Due: memberlist, transport_quic

Update Cargo.toml
  Cargo.toml
Due: none

Optimize code and fix some subtal bugs
  .github/workflows/coverage.yml
  Cargo.toml
  core/Cargo.toml
  core/src/api.rs
  core/src/base.rs
  core/src/base/tests.rs
  core/src/network.rs
  core/src/network/packet/handler.rs
  core/src/network/packet/listener.rs
  core/src/network/stream.rs
  core/src/state.rs
  core/src/state/tests.rs
  memberlist/tests/main/quic.rs
  memberlist/tests/main/quic/shutdown_cleanup.rs
  transports/net/Cargo.toml
  transports/net/src/io/read_from_promised.rs
  transports/net/src/lib.rs
  transports/net/src/packet_processor.rs
  transports/net/src/promised_processor.rs
  transports/net/src/stream_layer.rs
  transports/net/src/stream_layer/native_tls.rs
  transports/net/src/stream_layer/tcp.rs
  transports/net/src/stream_layer/tls.rs
  transports/quic/Cargo.toml
  transports/quic/src/error.rs
  transports/quic/src/lib.rs
  transports/quic/src/options.rs
  transports/quic/src/processor.rs
  transports/quic/src/stream_layer/quinn.rs
Due: memberlist, transport_net, transport_quic

Optimize `probe` shutdown logic implementation
  Cargo.toml
  core/src/base.rs
  core/src/network/packet/listener.rs
  core/src/state.rs
  memberlist/src/async_std.rs
  memberlist/src/smol.rs
  transports/net/src/io/read_from_promised.rs
  transports/net/src/lib.rs
  transports/net/src/packet_processor.rs
Due: memberlist, transport_net

Do not wait handles in `shutdown`
  Cargo.toml
  core/src/base.rs
  core/src/network/packet/listener.rs
  core/src/state.rs
  memberlist/src/async_std.rs
  memberlist/src/smol.rs
  transports/quic/src/tests.rs
Due: memberlist

Fix warnings
  core/src/base.rs
  transports/net/src/packet_processor.rs
  transports/quic/src/tests.rs
Due: transport_net

Cleanup versions
  Cargo.toml
  core/Cargo.toml
  memberlist/Cargo.toml
  transports/quic/Cargo.toml
  types/Cargo.toml
Due: memberlist, transport_quic

Disable tracing in unit tests
  core/src/lib.rs
Due: none

use AsyncWaitGroup instead of JoinHandle
  Cargo.toml
  core/Cargo.toml
  core/src/base.rs
  core/src/network/packet/handler.rs
  core/src/network/packet/listener.rs
  core/src/network/stream.rs
  core/src/state.rs
  transports/net/Cargo.toml
  transports/net/src/lib.rs
  transports/quic/Cargo.toml
  transports/quic/src/lib.rs
  transports/quic/src/processor.rs
  transports/quic/src/tests.rs
Due: transport_net, transport_quic

WIP
  core/src/lib.rs
Due: none

Path conditions:
  memberlist: any of: memberlist, but not: core/src/state/tests.rs, core/src/base/tests.rs, core/src/transport/tests.rs, core/src/delegate/mock.rs, transports/net/src/tests.rs, transports/net/src/tests/*, transports/net/tests/*, transports/quic/src/tests.rs, transports/quic/src/tests/*, transports/quic/tests/*, memberlist/tests/*
  transport_net: any of: transports/net, but not: core/src/state/tests.rs, core/src/base/tests.rs, core/src/transport/tests.rs, core/src/delegate/mock.rs, transports/net/src/tests.rs, transports/net/src/tests/*, transports/net/tests/*, transports/quic/src/tests.rs, transports/quic/src/tests/*, transports/quic/tests/*, memberlist/tests/*
  transport_quic: any of: transports/quic, but not: core/src/state/tests.rs, core/src/base/tests.rs, core/src/transport/tests.rs, core/src/delegate/mock.rs, transports/net/src/tests.rs, transports/net/src/tests/*, transports/net/tests/*, transports/quic/src/tests.rs, transports/quic/src/tests/*, transports/quic/tests/*, memberlist/tests/*
