Repository al8n/memberlist: changes, and which Codecov flags are due for each by the changed paths.
All: memberlist, transport_net, transport_quic

WIP
  .github/workflows/s2n.yml
  transports/quic/Cargo.toml
Due: transport_quic

Update lib.rs
  transports/quic/src/lib.rs
Due: transport_quic

bumpup `agnostic` version
  .github/workflows/s2n.yml
  Cargo.toml
  README-zh_CN.md
  README.md
  transports/net/src/io/send_by_packet.rs
  transports/net/src/packet_processor.rs
  transports/net/src/stream_layer/native_tls.rs
  transports/net/src/stream_layer/tcp.rs
  transports/net/src/stream_layer/tls.rs
  transports/quic/src/lib.rs
Due: transport_net, transport_quic

Update version.rs
  types/src/version.rs
Due: none

Update net.yml
  .github/workflows/net.yml
Due: none

bumpup versions
  .github/workflows/coverage.yml
  .github/workflows/loc.yml
  .github/workflows/net.yml
  .github/workflows/python.yml.bk
  .github/workflows/quinn.yml
  .github/workflows/s2n.yml
  Cargo.toml
  core/Cargo.toml
  transports/net/Cargo.toml
Due: transport_net

bumpup versions (#55)
  .github/workflows/coverage.yml
  .github/workflows/loc.yml
  .github/workflows/net.yml
  .github/workflows/python.yml.bk
  .github/workflows/quinn.yml
  .github/workflows/s2n.yml
  Cargo.toml
  core/Cargo.toml
  transports/net/Cargo.toml
Due: transport_net

relax-trait-bounds
  core/src/state.rs
  core/src/suspicion.rs
  core/src/transport.rs
  core/src/transport/lpe.rs
  types/src/message.rs
Due: none

Delete python.yml.bk
  .github/workflows/python.yml.bk
Due: none

Update CI
  .github/workflows/net.yml
  .github/workflows/quinn.yml
  .github/workflows/s2n.yml
Due: none

release resources on shutdown
  transports/net/Cargo.toml
  transports/net/src/error.rs
  transports/net/src/io/send_by_packet.rs
  transports/net/src/lib.rs
Due: transport_net

release resources on shutdown (#57)
  transports/net/Cargo.toml
  transports/net/src/error.rs
  transports/net/src/io/send_by_packet.rs
  transports/net/src/lib.rs
Due: transport_net

Update version
  .github/workflows/net.yml
  .github/workflows/quinn.yml
  .github/workflows/s2n.yml
  Cargo.toml
  core/Cargo.toml
  transports/net/Cargo.toml
  transports/net/src/error.rs
  transports/net/src/lib.rs
  transports/quic/Cargo.toml
  transports/quic/src/error.rs
  transports/quic/src/lib.rs
Due: transport_net, transport_quic

Bumpup versions (#60)
  .github/workflows/net.yml
  .github/workflows/quinn.yml
  .github/workflows/s2n.yml
  Cargo.toml
  core/Cargo.toml
  memberlist/Cargo.toml
  transports/net/Cargo.toml
  transports/net/src/error.rs
  transports/net/src/lib.rs
  transports/quic/Cargo.toml
  transports/quic/src/error.rs
  transports/quic/src/lib.rs
  types/Cargo.toml
Due: memberlist, transport_net, transport_quic

WIP
  .github/workflows/net.yml
Due: none

bumpup versions
  Cargo.toml
  core/Cargo.toml
  core/src/base.rs
  core/src/state.rs
  transports/net/Cargo.toml
  transports/net/src/security.rs
  transports/quic/Cargo.toml
  transports/quic/src/stream_layer/quinn.rs
Due: transport_net, transport_quic

bumpup versions (#63)
  Cargo.toml
  core/Cargo.toml
  core/src/base.rs
  core/src/state.rs
  memberlist/Cargo.toml
  transports/net/Cargo.toml
  transports/net/src/security.rs
  transports/quic/Cargo.toml
  transports/quic/src/stream_layer/quinn.rs
  types/Cargo.toml
  types/src/alive.rs
  types/src/bad_state.rs
  types/src/err.rs
  types/src/ping.rs
  types/src/push_pull_state.rs
Due: memberlist, transport_net, transport_quic

Update README.md
  README.md
Due: none

Fix imports
  transports/net/src/packet_processor.rs
Due: transport_net

Add docrs CI
  .github/workflows/doc.yml
  core/src/lib.rs
  memberlist/src/lib.rs
  transports/net/src/error.rs
  transports/net/src/tests.rs
  types/src/message.rs
  types/src/server.rs
Due: memberlist, transport_net

WIP
  core/Cargo.toml
  core/src/base.rs
  core/src/broadcast.rs
  core/src/error.rs
  core/src/lib.rs
  core/src/network.rs
  core/src/network/packet/listener.rs
  core/src/network/stream.rs
  core/src/queue.rs
  core/src/state.rs
  core/src/transport.rs
  core/src/types.rs
  core/src/types/ack.rs
  core/src/types/alive.rs
  core/src/types/bad_state.rs
  core/src/types/err.rs
  core/src/types/message.rs
  core/src/types/meta.rs
  core/src/types/ping.rs
  core/src/types/push_pull_state.rs
  core/src/types/server.rs
  core/src/types/version.rs
  core/src/util.rs
Due: none

WIP
  core/Cargo.toml
  core/src/keyring.rs
  core/src/util.rs
  types/Cargo.toml
  types/src/data.rs
  types/src/lib.rs
  types/src/secret.rs
Due: none

WIP
  core/src/api.rs
  core/src/broadcast.rs
  core/src/error.rs
  core/src/network.rs
  core/src/network/packet/listener.rs
  core/src/queue/tests.rs
  core/src/state.rs
  core/src/transport.rs
  core/src/transport/stream.rs
  core/src/transport/tests.rs
  core/src/transport/tests/unimplemented.rs
  transports/net/src/error.rs
  transports/net/src/lib.rs
  types/src/data.rs
  types/src/lib.rs
Due: transport_net

Finish memberlist-types refactor
  core/src/api.rs
  core/src/network/packet/listener.rs
  core/src/transport.rs
  core/src/transport/stream.rs
  fuzz/fuzz_targets/messages.rs
  types/Cargo.toml
  types/src/message.rs
  types/tests/fuzzy.rs
Due: none

Update message.rs
  types/src/message.rs
Due: none

WIP: zero copy serialization supports
  core/src/lib.rs
  core/src/network/packet/listener.rs
  types/src/ack.rs
  types/src/alive.rs
  types/src/bad_state.rs
  types/src/data.rs
  types/src/data/bytes.rs
  types/src/data/nodecraft.rs
  types/src/data/primitives.rs
  types/src/data/string.rs
  types/src/err.rs
  types/src/lib.rs
  types/src/message.rs
  types/src/meta.rs
  types/src/ping.rs
  types/src/push_pull.rs
  types/src/push_pull/state.rs
  types/src/version.rs
  types/tests/fuzzy.rs
Due: none

Finish zero-copy decoding
  types/src/ack.rs
  types/src/alive.rs
  types/src/bad_state.rs
  types/src/data.rs
  types/src/data/bytes.rs
  types/src/data/nodecraft.rs
  types/src/data/primitives.rs
  types/src/data/string.rs
  types/src/err.rs
  types/src/lib.rs
  types/src/message.rs
  types/src/meta.rs
  types/src/ping.rs
  types/src/push_pull.rs
  types/src/push_pull/state.rs
  types/src/version.rs
  types/tests/fuzzy.rs
Due: none

WIP: cleanup DecodeError
  core/src/base/tests.rs
  core/src/network/packet/listener.rs
  types/src/message.rs
  types/src/push_pull.rs
  types/src/server.rs
Due: none

Path conditions:
  memberlist: any of: memberlist, but not: core/src/state/tests.rs, core/src/base/tests.rs, core/src/transport/tests.rs, core/src/delegate/mock.rs, transports/net/src/tests.rs, transports/net/src/tests/*, transports/net/tests/*, transports/quic/src/tests.rs, transports/quic/src/tests/*, transports/quic/tests/*, memberlist/tests/*
  transport_net: any of: transports/net, but not: core/src/state/tests.rs, core/src/base/tests.rs, core/src/transport/tests.rs, core/src/delegate/mock.rs, transports/net/src/tests.rs, transports/net/src/tests/*, transports/net/tests/*, transports/quic/src/tests.rs, transports/quic/src/tests/*, transports/quic/tests/*, memberlist/tests/*
  transport_quic: any of: transports/quic, but not: core/src/state/tests.rs, core/src/base/tests.rs, core/src/transport/tests.rs, core/src/delegate/mock.rs, transports/net/src/tests.rs, transports/net/src/tests/*, transports/net/tests/*, transports/quic/src/tests.rs, transports/quic/src/tests/*, transports/quic/tests/*, memberlist/tests/*
