Repository al8n/memberlist: changes, and which Codecov flags are due for each by the changed paths.
All: memberlist, transport_net, transport_quic

cleanup
  .github/workflows/coverage.yml
  Cargo.toml
  core/Cargo.toml
  core/src/network/packet/listener.rs
  core/src/types.rs
  core/src/types/secret.rs
  transports/net/Cargo.toml
  transports/net/src/security.rs
  utils/Cargo.toml
  utils/src/lib.rs
Due: transport_net

Update README.md
  README-zh_CN.md
  README.md
Due: none

cleanup
  types/Cargo.toml
  types/src/push_pull_state.rs
Due: none

fix
  types/src/push_pull_state.rs
Due: none

Update mock.rs
  core/src/delegate/mock.rs
Due: none

fix warnings
  core/src/delegate/composite.rs
  core/src/state/tests.rs
  memberlist/tests/main/invoke_ack_handler.rs
  memberlist/tests/main/invoke_ack_handler_channel_ack.rs
  memberlist/tests/main/invoke_ack_handler_channel_nack.rs
  memberlist/tests/main/net/encrypted_gossip_transition.rs
  memberlist/tests/main/net/join_different_networks_multi_masks.rs
  memberlist/tests/main/net/join_different_networks_unique_mask.rs
  memberlist/tests/main/net/join_with_labels_and_compression.rs
  memberlist/tests/main/net/join_with_labels_and_compression_and_encryption.rs
  memberlist/tests/main/net/join_with_labels_and_encryption.rs
  memberlist/tests/main/quic/join_different_networks_multi_masks.rs
  memberlist/tests/main/quic/join_different_networks_unique_mask.rs
  memberlist/tests/main/quic/join_with_labels_and_compression.rs
  memberlist/tests/main/set_ack_handler.rs
  memberlist/tests/main/set_probe_channels.rs
  transports/net/src/label.rs
  transports/net/src/tests/gossip_mismatch_keys.rs
  transports/net/src/tests/handle_compound_ping.rs
  transports/net/src/tests/handle_indirect_ping.rs
  transports/net/src/tests/handle_ping_wrong_node.rs
  transports/net/src/tests/join.rs
  transports/net/src/tests/join_dead_node.rs
  transports/net/src/tests/packet_piggyback.rs
  transports/net/src/tests/promised_ping.rs
  transports/net/src/tests/promised_push_pull.rs
  transports/net/src/tests/send.rs
Due: memberlist, transport_net

Fix
  core/src/state/tests.rs
  core/tests/async_std/FIXME.md
  memberlist/tests/main/quic/join_shutdown.rs
Due: memberlist

fix
  .github/workflows/s2n.yml
  core/src/state/tests.rs
  transports/quic/src/stream_layer/s2n.rs
Due: transport_quic

Cleanup `Cargo.toml`
  Cargo.toml
  README-zh_CN.md
  README.md
  core/Cargo.toml
  memberlist/Cargo.toml
  transports/net/Cargo.toml
  transports/net/src/lib.rs
  transports/quic/Cargo.toml
  transports/quic/src/lib.rs
  types/Cargo.toml
Due: memberlist, transport_net, transport_quic

Update `.codecov.yml`
  .codecov.yml
  core/src/lib.rs
  memberlist/src/lib.rs
Due: memberlist

Fix broken link
  core/src/lib.rs
  memberlist/src/lib.rs
Due: memberlist

WIP
  types/Cargo.toml
  types/src/ack.rs
  types/src/alive.rs
  types/src/bad_state.rs
  types/src/message.rs
  types/src/ping.rs
  types/src/push_pull_state.rs
Due: none

more unit tests
  core/src/api.rs
  types/src/alive.rs
  types/src/cidr_policy.rs
  types/src/meta.rs
  types/src/ping.rs
  types/src/server.rs
  types/src/version.rs
Due: none

Add more unit tests for `memberlist-types`
  core/src/api.rs
  core/src/state.rs
  types/Cargo.toml
  types/src/ack.rs
  types/src/alive.rs
  types/src/bad_state.rs
  types/src/cidr_policy.rs
  types/src/err.rs
  types/src/label.rs
  types/src/message.rs
  types/src/meta.rs
  types/src/name/random.rs
  types/src/ping.rs
  types/src/push_pull_state.rs
  types/src/secret.rs
  types/src/server.rs
  types/src/version.rs
Due: none

Cleanup `Cargo.toml`
  Cargo.toml
  core/Cargo.toml
  memberlist/Cargo.toml
  transports/net/Cargo.toml
  transports/quic/Cargo.toml
  types/Cargo.toml
Due: memberlist, transport_net, transport_quic

Add logo for docs
  core/src/lib.rs
  memberlist/src/lib.rs
  transports/net/src/lib.rs
  transports/quic/src/lib.rs
  types/src/lib.rs
Due: memberlist, transport_net, transport_quic

Add more logos
  Cargo.toml
  README-zh_CN.md
  README.md
  art/logo.png
  art/logo_72x72.png
  core/src/lib.rs
  memberlist/src/lib.rs
  transports/net/src/lib.rs
  transports/quic/src/lib.rs
  types/src/lib.rs
Due: memberlist, transport_net, transport_quic

Feature gate `encrypted_gossip_transition` unit test
  memberlist/Cargo.toml
  memberlist/tests/main/net.rs
Due: memberlist

Add more unit tests
  .github/workflows/coverage.yml
  transports/net/src/tests/handle_compound_ping.rs
  transports/net/src/tests/handle_indirect_ping.rs
  transports/net/src/tests/handle_ping_wrong_node.rs
  transports/net/tests/main/tests/handle_indirect_ping.rs
  transports/net/tests/main/tests/handle_ping_wrong_node.rs
  transports/quic/src/tests/handle_compound_ping.rs
Due: transport_net

Add LoC CI
  .github/workflows/loc.yml
Due: none

Update loc.yml
  .github/workflows/loc.yml
Due: none

Add missing type aliases
  memberlist/src/async_std.rs
  memberlist/src/smol.rs
Due: memberlist

0.1.3
  memberlist/Cargo.toml
Due: memberlist

Extend the timeout duration
  core/src/base/tests.rs
  core/src/state.rs
  core/src/state/tests.rs
  core/src/transport/tests.rs
  memberlist/Cargo.toml
  memberlist/tests/main/net.rs
Due: memberlist

Add missing feature
  Cargo.toml
  core/Cargo.toml
  memberlist/Cargo.toml
  types/Cargo.toml
  types/src/lib.rs
Due: memberlist

Fix warnings
  types/src/lib.rs
  types/src/metrics_label.rs
  types/src/secret.rs
Due: none

Remove unused files
  .github/workflows/coverage.yml
  .github/workflows/loc.yml
  .github/workflows/net.yml
  .github/workflows/quinn.yml
  .github/workflows/s2n.yml
  core/tests/async_std.rs
  core/tests/async_std/create.rs
  core/tests/async_std/delegate.rs
  core/tests/async_std/join.rs
  core/tests/async_std/leave.rs
  core/tests/async_std/net.rs
  core/tests/async_std/ping.rs
  core/tests/async_std/probe.rs
  core/tests/smol.rs
  core/tests/smol/create.rs
  core/tests/smol/join.rs
  core/tests/tokio.rs
  core/tests/tokio/FIXME.md
  core/tests/tokio/create.rs
  core/tests/tokio/delegate.rs
  core/tests/tokio/join.rs
  core/tests/tokio/leave.rs
  core/tests/tokio/net.rs
  core/tests/tokio/ping.rs
  core/tests/tokio/probe.rs
  memberlist/tests/main/net.rs
  transports/net/Cargo.toml
Due: memberlist, transport_net

Fix warnings
  core/src/network.rs
  core/src/transport/tests.rs
  memberlist/tests/main/net/join_different_networks_multi_masks.rs
  memberlist/tests/main/net/join_different_networks_unique_mask.rs
  memberlist/tests/main/quic/join_different_networks_multi_masks.rs
  memberlist/tests/main/quic/join_different_networks_unique_mask.rs
Due: memberlist

Fix warnings
  core/src/base.rs
  core/src/base/tests.rs
Due: none

Remove unused dependencies
  Cargo.toml
  core/Cargo.toml
Due: none

Path conditions:
  memberlist: any of: memberlist, but not: core/src/state/tests.rs, core/src/base/tests.rs, core/src/transport/tests.rs, core/src/delegate/mock.rs, transports/net/src/tests.rs, transports/net/src/tests/*, transports/net/tests/*, transports/quic/src/tests.rs, transports/quic/src/tests/*, transports/quic/tests/*, memberlist/tests/*
  transport_net: any of: transports/net, but not: core/src/state/tests.rs, core/src/base/tests.rs, core/src/transport/tests.rs, core/src/delegate/mock.rs, transports/net/src/tests.rs, transports/net/src/tests/*, transports/net/tests/*, transports/quic/src/tests.rs, transports/quic/src/tests/*, transports/quic/tests/*, memberlist/tests/*
  transport_quic: any of: transports/quic, but not: core/src/state/tests.rs, core/src/base/tests.rs, core/src/transport/tests.rs, core/src/delegate/mock.rs, transports/net/src/tests.rs, transports/net/src/tests/*, transports/net/tests/*, transports/quic/src/tests.rs, transports/quic/src/tests/*, transports/quic/tests/*, memberlist/tests/*
