Repository al8n/memberlist: changes, and which Codecov flags are due for each by the changed paths.
All: memberlist, transport_net, transport_quic

Fix feature gate
  core/src/suspicion.rs
Due: none

Create cleanup.yml
  .github/workflows/cleanup.yml
Due: none

Update cleanup.yml
  .github/workflows/cleanup.yml
Due: none

Update cleanup
  .github/workflows/cleanup.yml
  memberlist/tests/main/quic.rs
Due: memberlist

Delete cleanup.yml
  .github/workflows/cleanup.yml
Due: none

Avoid unneeded spawn
  core/src/suspicion.rs
Due: none

Update
  .github/workflows/net.yml
  core/src/suspicion.rs
Due: none

Refactor `suspicion.rs` (#30)
  .github/workflows/net.yml
  core/src/base.rs
  core/src/base/tests.rs
  core/src/state.rs
  core/src/suspicion.rs
  memberlist/tests/main/quic.rs
Due: memberlist

Cleanup fmt and exports
  core/src/lib.rs
  memberlist/Cargo.toml
  memberlist/src/lib.rs
Due: memberlist

export `SecretKeyring`
  Cargo.toml
  core/Cargo.toml
  core/src/base/tests.rs
  core/src/delegate.rs
  core/src/delegate/composite.rs
  core/src/delegate/mock.rs
  core/src/delegate/node.rs
  transports/net/Cargo.toml
  transports/net/src/io/read_from_promised.rs
  transports/net/src/io/send_by_packet.rs
  transports/net/src/io/send_by_promised.rs
  transports/net/src/packet_processor.rs
  transports/net/src/security.rs
  transports/net/src/tests.rs
  types/Cargo.toml
  types/src/secret.rs
Due: transport_net

export `SecretKeyring`
  core/src/api.rs
  core/src/transport.rs
  transports/net/src/lib.rs
Due: transport_net

Export `SecretKeyring`
  Cargo.toml
  core/Cargo.toml
  core/src/api.rs
  core/src/base/tests.rs
  core/src/delegate.rs
  core/src/delegate/composite.rs
  core/src/delegate/mock.rs
  core/src/delegate/node.rs
  core/src/transport.rs
  transports/net/Cargo.toml
  transports/net/src/io/read_from_promised.rs
  transports/net/src/io/send_by_packet.rs
  transports/net/src/io/send_by_promised.rs
  transports/net/src/lib.rs
  transports/net/src/packet_processor.rs
  transports/net/src/security.rs
  transports/net/src/tests.rs
  types/Cargo.toml
  types/src/secret.rs
Due: transport_net

Make `shutdown` method `Send`
  core/src/base.rs
Due: none

Finish node calculator
  core/src/base.rs
  core/src/queue.rs
Due: none

fix warnings
  core/src/base.rs
Due: none

Fix warnings
  core/src/base/tests.rs
Due: none

Finish node calculator
  core/src/base.rs
Due: none

Small refactor on `TransmitLimitedQueue`
  core/src/base.rs
  core/src/base/tests.rs
  core/src/queue.rs
Due: none

Add `encryption_enabled` method for `Transport` trait
  core/src/transport.rs
  transports/net/src/lib.rs
Due: transport_net

WIP
  core/src/transport.rs
  core/src/types.rs
  transports/net/src/error.rs
  transports/net/src/lib.rs
  transports/net/src/options.rs
  transports/net/src/promised_processor.rs
  transports/net/src/stream_layer.rs
  transports/net/src/stream_layer/native_tls.rs
  transports/net/src/stream_layer/tcp.rs
  transports/net/src/stream_layer/tls.rs
  transports/net/src/tests.rs
  transports/net/src/tests/handle_ping/no_label_no_compression_no_encryption.rs
  transports/net/src/tests/handle_ping/no_label_no_compression_with_encryption.rs
  transports/net/src/tests/handle_ping/no_label_with_compression_no_encryption.rs
  transports/net/src/tests/send.rs
  types/src/lib.rs
Due: transport_net

WIP
  core/src/api.rs
  core/src/base/tests.rs
  core/src/transport.rs
  core/src/transport/tests.rs
  transports/net/src/lib.rs
  transports/net/src/options.rs
  transports/net/src/tests/gossip_mismatch_keys.rs
  transports/net/src/tests/handle_compound_ping.rs
  transports/net/src/tests/handle_indirect_ping.rs
  transports/net/src/tests/handle_ping/no_label_no_compression_no_encryption.rs
  transports/net/src/tests/handle_ping/no_label_no_compression_with_encryption.rs
  transports/net/src/tests/handle_ping/no_label_with_compression_no_encryption.rs
  transports/net/src/tests/handle_ping/no_label_with_compression_with_encryption.rs
  transports/net/src/tests/handle_ping/with_label_no_compression_no_encryption.rs
  transports/net/src/tests/handle_ping/with_label_with_compression_no_encryption.rs
  transports/net/src/tests/handle_ping_wrong_node.rs
  transports/net/src/tests/join.rs
  transports/net/src/tests/join_dead_node.rs
  transports/net/src/tests/label/with_label.rs
  transports/net/src/tests/label/with_label_and_encryption.rs
  transports/net/src/tests/packet_piggyback.rs
  transports/net/src/tests/promised_ping.rs
  transports/net/src/tests/promised_push_pull.rs
  transports/net/src/tests/send.rs
  transports/quic/src/lib.rs
  transports/quic/src/options.rs
  transports/quic/src/tests/handle_compound_ping.rs
  transports/quic/src/tests/handle_indirect_ping.rs
  transports/quic/src/tests/handle_ping/no_label_no_compression.rs
  transports/quic/src/tests/handle_ping/no_label_with_compression.rs
  transports/quic/src/tests/handle_ping/with_label_no_compression.rs
  transports/quic/src/tests/handle_ping/with_label_with_compression.rs
  transports/quic/src/tests/handle_ping_wrong_node.rs
  transports/quic/src/tests/join.rs
  transports/quic/src/tests/join_dead_node.rs
  transports/quic/src/tests/packet_piggyback.rs
  transports/quic/src/tests/promised_ping.rs
  transports/quic/src/tests/promised_push_pull.rs
  transports/quic/src/tests/send.rs
Due: transport_net, transport_quic

WIP
  memberlist/tests/main/quic/alive_node_conflict.rs
  memberlist/tests/main/quic/conflict_delegate.rs
  memberlist/tests/main/quic/create.rs
  memberlist/tests/main/quic/create_shutdown.rs
  memberlist/tests/main/quic/dead_node_left.rs
  memberlist/tests/main/quic/dead_node_no_node.rs
  memberlist/tests/main/quic/join_cancel.rs
  memberlist/tests/main/quic/join_cancel_passive.rs
  memberlist/tests/main/quic/join_different_networks_multi_masks.rs
  memberlist/tests/main/quic/join_different_networks_unique_mask.rs
Due: memberlist

Fix warnings
  core/src/types.rs
  transports/net/src/options.rs
  transports/net/src/tests/join.rs
  transports/net/src/tests/packet_piggyback.rs
  transports/net/src/tests/send.rs
  transports/quic/src/options.rs
Due: transport_net, transport_quic

Publish `0.1.5`
  Cargo.toml
  memberlist/Cargo.toml
Due: memberlist

Path conditions:
  memberlist: any of: memberlist, but not: core/src/state/tests.rs, core/src/base/tests.rs, core/src/transport/tests.rs, core/src/delegate/mock.rs, transports/net/src/tests.rs, transports/net/src/tests/*, transports/net/tests/*, transports/quic/src/tests.rs, transports/quic/src/tests/*, transports/quic/tests/*, memberlist/tests/*
  transport_net: any of: transports/net, but not: core/src/state/tests.rs, core/src/base/tests.rs, core/src/transport/tests.rs, core/src/delegate/mock.rs, transports/net/src/tests.rs, transports/net/src/tests/*, transports/net/tests/*, transports/quic/src/tests.rs, transports/quic/src/tests/*, transports/quic/tests/*, memberlist/tests/*
  transport_quic: any of: transports/quic, but not: core/src/state/tests.rs, core/src/base/tests.rs, core/src/transport/tests.rs, core/src/delegate/mock.rs, transports/net/src/tests.rs, transports/net/src/tests/*, transports/net/tests/*, transports/quic/src/tests.rs, transports/quic/src/tests/*, transports/quic/tests/*, memberlist/tests/*
