Repository al8n/memberlist: changes, and which Codecov flags are due for each by the changed paths.
All: memberlist, transport_net, transport_quic

.codecov.yml:

codecov:
  require_ci_to_pass: false

ignore:
  - core/src/state/tests.rs
  - core/src/base/tests.rs
  - core/src/transport/tests.rs
  - core/src/delegate/mock.rs
  - transports/net/src/tests.rs
  - transports/net/src/tests/*
  - transports/net/tests/*
  - transports/quic/src/tests.rs
  - transports/quic/src/tests/*
  - transports/quic/tests/*
  - memberlist/tests/*

flags: # Define flags for each sub-crate
  memberlist:
    paths:
      - memberlist
  transport_net:
    paths:
      - transports/net
  transport_quic:
    paths:
      - transports/quic

coverage:
  status:
    project: # Overall project status
      default:
        target: auto
        if_not_found: success
        only_pulls: false
    patch: # Status for the patch in pull requests
      default:
        target: auto
        if_not_found: success
        only_pulls: true
    changes: false # Whether to comment on the coverage changes in pull requests

comment:
  layout: "header, diff, files, footer"
  behavior: default
  require_changes: false

WIP: finish decode_from_reader
  Cargo.toml
  core/Cargo.toml
  core/src/network.rs
  core/src/network/packet/listener.rs
  core/src/network/stream.rs
  core/src/state.rs
  core/src/transport.rs
  types/Cargo.toml
  types/src/encryption.rs
  types/src/message/proto.rs
  types/src/message/proto/decoder.rs
  types/src/message/proto/encoder.rs
  types/src/message/proto/encoder/rayon_impl.rs
Due: none

Support blocking encoding/decoding when no rayon available
  core/Cargo.toml
  core/src/api.rs
  core/src/network.rs
  core/src/network/packet/listener.rs
  core/src/network/stream.rs
  core/src/state.rs
  types/Cargo.toml
  types/src/ack.rs
  types/src/alive.rs
  types/src/bad_state.rs
  types/src/checksum.rs
  types/src/compression.rs
  types/src/compression/brotli_impl.rs
  types/src/compression/zstd_impl.rs
  types/src/encryption.rs
  types/src/err.rs
  types/src/lib.rs
  types/src/message.rs
  types/src/message/proto.rs
  types/src/message/proto/decoder.rs
  types/src/message/proto/decoder/messages_decoder.rs
  types/src/message/proto/encoder.rs
  types/src/message/proto/encoder/blocking_impl.rs
  types/src/message/proto/encoder/rayon_impl.rs
  types/src/ping.rs
  types/src/push_pull.rs
  types/src/push_pull/state.rs
  types/src/server.rs
  types/tests/fuzzy.rs
  types/tests/fuzzy/all.rs
  types/tests/fuzzy/checksum.rs
  types/tests/fuzzy/checksum_and_compression.rs
  types/tests/fuzzy/checksum_and_encryption.rs
  types/tests/fuzzy/compression.rs
  types/tests/fuzzy/encryption.rs
  types/tests/fuzzy/encryption_and_compression.rs
  types/tests/fuzzy/plain.rs
Due: none

Fix label
  types/src/message/proto.rs
  types/src/message/proto/decoder.rs
  types/tests/fuzzy/all.rs
  types/tests/fuzzy/checksum.rs
  types/tests/fuzzy/checksum_and_compression.rs
  types/tests/fuzzy/checksum_and_encryption.rs
  types/tests/fuzzy/compression.rs
  types/tests/fuzzy/encryption.rs
  types/tests/fuzzy/encryption_and_compression.rs
  types/tests/fuzzy/plain.rs
Due: none

WIP: fn
  types/src/message/proto/encoder.rs
  types/tests/fuzzy.rs
Due: none

WIP: fix unit tests
  types/src/message/proto.rs
  types/tests/fuzzy.rs
  types/tests/fuzzy/all.rs
  types/tests/fuzzy/checksum.rs
  types/tests/fuzzy/checksum_and_compression.rs
  types/tests/fuzzy/checksum_and_encryption.rs
  types/tests/fuzzy/compression.rs
  types/tests/fuzzy/encryption.rs
  types/tests/fuzzy/encryption_and_compression.rs
  types/tests/fuzzy/plain.rs
Due: none

cleanup net transport
  core/src/transport.rs
  core/src/transport/tests.rs
  transports/net/src/checksum.rs
  transports/net/src/compressor.rs
  transports/net/src/error.rs
  transports/net/src/io.rs
  transports/net/src/io/read_from_promised.rs
  transports/net/src/io/send_by_packet.rs
  transports/net/src/io/send_by_promised.rs
  transports/net/src/label.rs
  transports/net/src/lib.rs
  transports/net/src/options.rs
  transports/net/src/packet_processor.rs
  transports/net/src/promised_processor.rs
  transports/net/src/security.rs
  transports/net/src/stream_layer.rs
  transports/net/src/stream_layer/native_tls.rs
  transports/net/src/stream_layer/tcp.rs
  transports/net/src/stream_layer/tls.rs
  transports/net/src/tests.rs
  types/Cargo.toml
  types/src/cidr_policy.rs
  types/src/message.rs
  types/src/message/proto.rs
  types/src/message/proto/decoder.rs
Due: transport_net

WIP
  core/src/base/tests.rs
  core/src/state/tests.rs
  memberlist/Cargo.toml
  memberlist/tests/main/net.rs
  memberlist/tests/main/net/alive_node_change_meta.rs
  memberlist/tests/main/net/alive_node_conflict.rs
  memberlist/tests/main/net/alive_node_idempotent.rs
  memberlist/tests/main/net/alive_node_new_node.rs
  memberlist/tests/main/net/alive_node_refute.rs
  memberlist/tests/main/net/alive_node_suspect_node.rs
  memberlist/tests/main/net/conflict_delegate.rs
  memberlist/tests/main/net/dead_node.rs
  memberlist/tests/main/net/dead_node_alive_replay.rs
  memberlist/tests/main/net/dead_node_double.rs
  memberlist/tests/main/net/dead_node_left.rs
  memberlist/tests/main/net/dead_node_no_node.rs
  memberlist/tests/main/net/dead_node_old_dead.rs
  memberlist/tests/main/net/dead_node_refute.rs
  memberlist/tests/main/net/node_delegate_meta.rs
  memberlist/tests/main/net/node_delegate_meta_update.rs
  memberlist/tests/main/net/ping_delegate.rs
  memberlist/tests/main/net/send.rs
  memberlist/tests/main/net/suspect_node.rs
  memberlist/tests/main/net/suspect_node_double_suspect.rs
  memberlist/tests/main/net/suspect_node_no_node.rs
  memberlist/tests/main/net/suspect_node_refute.rs
  memberlist/tests/main/net/user_data.rs
  types/src/checksum.rs
  types/src/message/proto/encoder.rs
Due: memberlist

cleanup
  core/Cargo.toml
  core/src/base/tests.rs
  core/src/network/stream.rs
  core/src/state/tests.rs
  memberlist/tests/main/net.rs
  memberlist/tests/main/net/encrypted_gossip_transition.rs
  memberlist/tests/main/net/gossip.rs
  memberlist/tests/main/net/gossip_to_dead.rs
  memberlist/tests/main/net/join.rs
  memberlist/tests/main/net/join_cancel.rs
  memberlist/tests/main/net/join_cancel_passive.rs
  memberlist/tests/main/net/join_different_networks_multi_masks.rs
  memberlist/tests/main/net/join_different_networks_unique_mask.rs
  memberlist/tests/main/net/leave.rs
  memberlist/tests/main/net/merge_state.rs
  memberlist/tests/main/net/ping.rs
  memberlist/tests/main/net/probe.rs
  memberlist/tests/main/net/probe_node.rs
  memberlist/tests/main/net/probe_node_awareness_degraded.rs
  memberlist/tests/main/net/probe_node_awareness_improved.rs
  memberlist/tests/main/net/probe_node_awareness_missed_nack.rs
  memberlist/tests/main/net/probe_node_buddy.rs
  memberlist/tests/main/net/probe_node_dogpile.rs
  memberlist/tests/main/net/probe_node_suspect.rs
  memberlist/tests/main/net/push_pull.rs
  transports/quic/src/io.rs
  transports/quic/src/io/read_message.rs
  transports/quic/src/io/send_message.rs
  transports/quic/src/io/send_packet.rs
  types/src/checksum.rs
  types/src/compression.rs
  types/src/compression/error.rs
  types/src/lib.rs
  types/src/message/proto/encoder.rs
Due: memberlist, transport_quic

WIP: fix quic transport
  core/Cargo.toml
  core/src/lib.rs
  core/src/network/packet/listener.rs
  core/src/network/stream.rs
  memberlist/Cargo.toml
  transports/quic/src/lib.rs
  transports/quic/src/processor.rs
  types/src/message/proto/decoder.rs
Due: memberlist, transport_quic

WIP
  memberlist-core/src/lib.rs
  memberlist-core/src/transport/tests.rs
  memberlist/tests/main/net/encrypted_gossip_transition.rs
  transports/net/Cargo.toml
  transports/quic/Cargo.toml
  transports/quic/src/stream_layer/s2n.rs
Due: memberlist, transport_net, transport_quic

Fix quic transport
  memberlist-core/src/transport.rs
  memberlist-proto/src/proto/decoder.rs
  memberlist/tests/main/net/encrypted_gossip_transition.rs
  memberlist/tests/main/net/join_different_networks_multi_masks.rs
  memberlist/tests/main/net/join_different_networks_unique_mask.rs
  memberlist/tests/main/quic/join_different_networks_multi_masks.rs
  memberlist/tests/main/quic/join_different_networks_unique_mask.rs
  memberlist/tests/main/quic/join_with_labels_and_compression.rs
  transports/net/src/stream_layer/native_tls.rs
  transports/net/src/stream_layer/tcp.rs
  transports/net/src/stream_layer/tls.rs
  transports/quic/src/lib.rs
  transports/quic/src/processor.rs
  transports/quic/src/stream_layer/quinn.rs
  transports/quic/src/stream_layer/s2n.rs
Due: memberlist, transport_net, transport_quic

Update s2n.yml
  .github/workflows/s2n.yml
Due: none

fix docs
  memberlist-proto/src/compression/zstd_impl.rs
  memberlist-proto/src/data.rs
Due: memberlist

Update encryption.rs
  memberlist-proto/src/encryption.rs
Due: memberlist

Update error.rs
  memberlist-core/src/error.rs
Due: memberlist

Update fuzz.yml
  .github/workflows/fuzz.yml
Due: none

Update
  .github/workflows/coverage.yml
  memberlist-proto/src/encryption.rs
Due: memberlist

Update arbitrary_impl.rs
  memberlist-proto/src/arbitrary_impl.rs
Due: memberlist

Update README.md
  README.md
Due: none

Remove `native-tls` and `s2n`
  .github/workflows/coverage.yml
  .github/workflows/net.yml
  .github/workflows/s2n.yml
  README-zh_CN.md
  README.md
  memberlist/Cargo.toml
  memberlist/src/async_std.rs
  memberlist/src/lib.rs
  memberlist/src/smol.rs
  memberlist/src/tokio.rs
  memberlist/tests/main/net.rs
  memberlist/tests/main/quic.rs
  memberlist/tests/main/set_probe_channels.rs
  transports/net/Cargo.toml
  transports/net/src/stream_layer.rs
  transports/net/src/stream_layer/native_tls.rs
  transports/net/src/tests.rs
  transports/quic/Cargo.toml
  transports/quic/src/stream_layer.rs
  transports/quic/src/stream_layer/s2n.rs
  transports/quic/src/stream_layer/s2n/options.rs
  transports/quic/src/tests.rs
  transports/quic/tests/cert.pem
  transports/quic/tests/key.pem
Due: memberlist, transport_net, transport_quic

Add CHANGELOG.md
  CHANGELOG.md
  README-zh_CN.md
Due: none

Add rayon in tests
  .github/workflows/coverage.yml
  memberlist/Cargo.toml
Due: memberlist

Update coverage.yml
  .github/workflows/coverage.yml
Due: none

cleanup feature flags
  .codecov.yml
  memberlist-core/Cargo.toml
  memberlist-core/src/base/tests.rs
  memberlist-core/src/lib.rs
  memberlist-core/src/network.rs
  memberlist-core/src/network/packet/handler.rs
  memberlist-core/src/network/packet/listener.rs
  memberlist-proto/src/lib.rs
  memberlist-proto/src/proto.rs
  memberlist-proto/src/proto/decoder.rs
  memberlist-proto/src/proto/encoder.rs
  memberlist-proto/src/proto/error.rs
  memberlist-proto/src/proto/message.rs
  memberlist/tests/main/net.rs
  memberlist/tests/main/net/send_reliable.rs
  memberlist/tests/main/quic.rs
  memberlist/tests/main/quic/send_reliable.rs
Due: memberlist

Update net.rs
  memberlist/tests/main/net.rs
Due: memberlist

Cleanup CI
  .github/workflows/coverage.yml
  memberlist-proto/src/proto/encoder.rs
Due: memberlist

WIP: remove futures::select! macros
  .codecov.yml
  memberlist-core/build.rs
  memberlist-core/src/lib.rs
  memberlist-core/src/network.rs
  memberlist-core/src/network/packet/listener.rs
  memberlist-core/src/state.rs
  memberlist-net/src/packet_processor.rs
  memberlist-net/src/promised_processor.rs
  memberlist-proto/Cargo.toml
  memberlist-proto/build.rs
  memberlist-proto/src/lib.rs
  memberlist-proto/src/proto/decoder.rs
  memberlist-proto/src/proto/encoder.rs
  memberlist-quic/src/lib.rs
  memberlist-quic/src/processor.rs
Due: memberlist

Add new methods
  CHANGELOG.md
  memberlist-core/src/api.rs
  memberlist-core/src/network/stream.rs
Due: memberlist

cleanup error
  CHANGELOG.md
  memberlist-core/src/api.rs
  memberlist-core/src/base/tests.rs
  memberlist-core/src/error.rs
  memberlist-core/src/network/stream.rs
Due: memberlist

cleanup feature flags
  memberlist-core/src/error.rs
  memberlist-proto/src/checksum.rs
  memberlist-proto/src/compression.rs
  memberlist-proto/src/compression/from_str.rs
  memberlist-proto/src/lib.rs
  memberlist-proto/src/proto/encoder.rs
Due: memberlist

Update compression.rs
  memberlist-proto/src/compression.rs
Due: memberlist

Fix
  memberlist-proto/src/checksum.rs
  memberlist-proto/src/compression.rs
  memberlist-proto/src/compression/from_str.rs
Due: memberlist
