Repository al8n/memberlist: changes, and which Codecov flags are due for each by the changed paths.
All: memberlist, transport_net, transport_quic

Cleanup agnostic features
  memberlist/Cargo.toml
  memberlist/src/lib.rs
  memberlist/tests/main.rs
  transports/net/src/lib.rs
  transports/net/src/packet_processor.rs
  transports/net/src/promised_processor.rs
  transports/net/tests/main/async_std.rs
  transports/net/tests/main/smol.rs
  transports/quic/Cargo.toml
  transports/quic/tests/main/quinn.rs
Due: memberlist, transport_net, transport_quic

Do not pin interval
  core/src/state.rs
  core/src/state/ack_manager.rs
  transports/quic/src/lib.rs
  transports/quic/src/tests.rs
Due: transport_quic

Cleanup
  .github/workflows/net.yml
  .github/workflows/quinn.yml
  core/src/api.rs
  core/src/broadcast.rs
  core/src/network.rs
  core/src/network/packet/handler.rs
  core/src/network/packet/listener.rs
  core/src/network/stream.rs
  core/src/state.rs
  memberlist/tests/main/quic.rs
  transports/net/src/io/read_from_promised.rs
  transports/net/src/io/send_by_packet.rs
  transports/net/src/io/send_by_promised.rs
  transports/net/src/lib.rs
  transports/net/src/packet_processor.rs
  transports/quic/src/io/read_message.rs
  transports/quic/src/io/send_message.rs
  transports/quic/src/io/send_packet.rs
  transports/quic/src/lib.rs
  transports/quic/src/processor.rs
  transports/quic/src/stream_layer/quinn.rs
  transports/quic/src/stream_layer/s2n.rs
Due: memberlist, transport_net, transport_quic

Use `RuntimeLite::delay` directly instead of `Timer`
  core/src/api.rs
  core/src/base.rs
  core/src/lib.rs
  core/src/network/packet/listener.rs
  core/src/state.rs
  core/src/state/ack_manager.rs
  core/src/state/tests.rs
  core/src/timer.rs
  transports/quic/src/tests.rs
Due: none

Use `RuntimeLite::delay` directly instead of `Timer` (#29)
  core/src/api.rs
  core/src/base.rs
  core/src/lib.rs
  core/src/network/packet/listener.rs
  core/src/state.rs
  core/src/state/ack_manager.rs
  core/src/state/tests.rs
  core/src/timer.rs
  transports/quic/src/tests.rs
Due: none

use spawn_after
  core/src/lib.rs
  core/src/state/ack_manager.rs
  core/src/timer.rs
Due: none

remove timer
  core/src/lib.rs
  core/src/timer.rs
Due: none

Fix feature gate
  transports/net/src/tests.rs
  transports/net/src/tests/join_dead_node.rs
Due: none

Fix feature gate
  transports/net/src/tests/handle_ping_wrong_node.rs
Due: none

Fix
  transports/net/src/tests/handle_indirect_ping.rs
  types/src/server.rs
Due: none

WIP
  transports/net/src/tests/handle_indirect_ping.rs
  types/src/push_pull_state.rs
Due: none

move test cases
  types/src/ack.rs
  types/src/alive.rs
  types/src/packet.rs
  types/src/secret.rs
  types/src/server.rs
Due: none

Cleanup
  core/src/base/tests.rs
  core/src/network/packet/listener.rs
  core/src/options.rs
Due: none

Update coverage.yml
  .github/workflows/coverage.yml
Due: none

config some test cases
  .codecov.yml
  core/src/transport.rs
  core/src/transport/lpe.rs
  transports/net/src/stream_layer/tcp.rs
  transports/net/src/stream_layer/tls.rs
  transports/net/src/tests/label/with_label_and_encryption.rs
  transports/net/src/tests/promised_ping.rs
  transports/quic/src/io/send_packet.rs
  transports/quic/src/lib.rs
  transports/quic/src/options.rs
  transports/quic/src/stream_layer.rs
  transports/quic/src/stream_layer/quinn.rs
  transports/quic/src/stream_layer/s2n.rs
  transports/quic/src/stream_layer/s2n/options.rs
  transports/quic/src/tests/handle_ping/with_label_with_compression.rs
  transports/quic/src/tests/promised_ping.rs
  types/src/cidr_policy.rs
Due: transport_net, transport_quic

Update s2n.rs
  transports/quic/src/stream_layer/s2n.rs
Due: transport_quic

config test cases
  .codecov.yml
  transports/net/src/tests/handle_indirect_ping.rs
Due: none

update CI
  .github/workflows/net.yml
  .github/workflows/quinn.yml
Due: none

Add more unit tests for `memberlist-types`
  core/src/api.rs
  core/src/lib.rs
  core/src/state.rs
  memberlist/src/lib.rs
  types/Cargo.toml
  types/src/ack.rs
  types/src/alive.rs
  types/src/bad_state.rs
  types/src/cidr_policy.rs
  types/src/err.rs
  types/src/label.rs
  types/src/message.rs
  types/src/meta.rs
  types/src/name/random.rs
  types/src/ping.rs
  types/src/push_pull_state.rs
  types/src/secret.rs
  types/src/server.rs
  types/src/version.rs
Due: memberlist

Cleanup `Cargo.toml`
  Cargo.toml
  core/Cargo.toml
  memberlist/Cargo.toml
  transports/net/Cargo.toml
  transports/quic/Cargo.toml
  types/Cargo.toml
Due: memberlist, transport_net, transport_quic

Add LoC CI
  .github/workflows/loc.yml
Due: none

Add missing type aliases
  memberlist/src/async_std.rs
  memberlist/src/smol.rs
Due: memberlist

Do not biased on suspicion
  core/src/state/tests.rs
  core/src/suspicion.rs
Due: none

Use `spawn_after` in suspicion
  core/src/base.rs
  core/src/base/tests.rs
  core/src/state.rs
  core/src/suspicion.rs
Due: none

Avoid unused boxing
  core/src/base.rs
  core/src/base/tests.rs
  core/src/state.rs
  core/src/suspicion.rs
Due: none

Fix warnings
  core/src/state.rs
  core/src/suspicion.rs
Due: none

Path conditions:
  memberlist: any of: memberlist, but not: core/src/state/tests.rs, core/src/base/tests.rs, core/src/transport/tests.rs, core/src/delegate/mock.rs, transports/net/src/tests.rs, transports/net/src/tests/*, transports/net/tests/*, transports/quic/src/tests.rs, transports/quic/src/tests/*, transports/quic/tests/*, memberlist/tests/*
  transport_net: any of: transports/net, but not: core/src/state/tests.rs, core/src/base/tests.rs, core/src/transport/tests.rs, core/src/delegate/mock.rs, transports/net/src/tests.rs, transports/net/src/tests/*, transports/net/tests/*, transports/quic/src/tests.rs, transports/quic/src/tests/*, transports/quic/tests/*, memberlist/tests/*
  transport_quic: any of: transports/quic, but not: core/src/state/tests.rs, core/src/base/tests.rs, core/src/transport/tests.rs, core/src/delegate/mock.rs, transports/net/src/tests.rs, transports/net/src/tests/*, transports/net/tests/*, transports/quic/src/tests.rs, transports/quic/src/tests/*, transports/quic/tests/*, memberlist/tests/*
